.main-container {
    background: url('/jeep.jpeg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.logo-container {
  font-size: 2.1rem;
  color: #fff;
}

.ui.inverted.menu.navbar {
  width: 100%;
  background-color: black;
  margin-bottom: 0;
}

.main-container .parent {
    margin: 250px 0 0 500px;
}

.ui.black.inverted.button {
    width: 150px;
}

